body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 2px;
    background-color: #bebebe;
    font-size: 18px;
}
h1 {
    --color-one: hsl(22, 77%, 61%);
    --color-two: hsl(59, 100%, 62%);
    --stretch-multiplier: 5;
    font-size: clamp(3rem, 6vmin, 4rem);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: position;
    /*display: flex;*/
    line-height: 1;
    align-items: center;
    animation: textAnimation 2s ease-in-out;
    text-align: left;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  
  
  [aria-hidden] {
    display: flex;
    gap: 0.02ch;
    align-items: center;
    color: black;
  }
  
  
  .stretch-o {
    height: 1.12ch;
    width: calc(var(--stretch) * 1.16ch);
    translate: 0 -0.01ch;
    border: 0.25ch solid black;
    border-radius: 1ch;
    transition: width 0.2s;
    position: relative;
  }
  
  h1 {
    --stretch: 1;
  }
  
  h1:hover {
    --stretch: var(--stretch-multiplier);
  }
  
  
  .stretch-o:after,
  .stretch-o:before {
    content: "";
    border: 0.25ch solid var(--color);
    position: absolute;
    inset: -0.25ch;
    border-radius: 1ch;
    opacity: calc(-1 + var(--stretch));
    transition: opacity 0.2s;
  }
  
  .stretch-o:before {
    --color: var(--color-one);
  }
  
  .stretch-o:after {
    --color: var(--color-two);
    mask:
      radial-gradient(
        circle at top left,
        black,
        transparent
      );
  }
  
@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
button {
    color: #000000;
    text-align: center;
    border: 2px solid rgb(99, 84, 76);
    transition: 0.5s;
    padding: 1em;
    margin: 1em 0;
    width: 45%;
    background-color: #f0f0f0;
    border: 0.5px solid #515050;
    border-radius: 20px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    overflow: visible;
    box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
                0 5.9px 4.2px rgba(0, 0, 0, 0.054),
                0 12.6px 9.5px rgba(0, 0, 0, 0.061),
                0 25px 20px rgba(0, 0, 0, 0.1);
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
    fill: #ffffff;
    stroke: none;
    stroke-width: 2.75;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke-dasharray: 60 90;
    stroke-dashoffset: -20;
    transform-origin: 50%;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 20px;
}
button:hover {
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transform: translateX(20px);
}
button:active {
    background-color: rgb(202, 227, 228);
    transition: 0.001s;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: blur(1px);
}
button:active:after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease;
}
button {
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button.green {
    background-color: green;
    transition: background-color 3s ease;
    transition: transform 200ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
}

button.red {
    background-color: red;
    transition: background-color 3s ease;
    transition: transform 200ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
}

button.white {
    background-color: white;
    color: black;
}

button:focus {
    outline: none;
}